.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning, .rmdknit {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #356185 5px center/3em no-repeat;
  border-radius: 25px;
}
.rmdcaution {
  background-image: url("images/caution.png");
}
.rmdimportant {
  background-image: url("images/important.png");
}
.rmdnote {
  color:white;
  background-image: url("images/note.png");
}
.rmdtip {
  background-image: url("images/tip.png");
}
.rmdwarning {
  background-image: url("images/warning.png");
}

.rmdknit {
  color:white;
  background-size: 80px 60px;
}

/*
p.date {
  color:transparent;
}
*/

section.normal strong {
    font-weight: 700;
    color: #356185;
}

section.normal h1  {
  color: #356185;
}

section.normal h2  {
  color: #356185;
}

section.normal h3  {
  color: #356185;
}

section.normal h4  {
  color: #356185;
}

section.normal h5  {
  color: #356185;
}

section.normal h6  {
  color: #356185;
}

.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.sourceCode, pre {
  border-radius: 10px 10px 10px 10px;
}

.book-header.fixed a:link { color: #356185 !important; }
.book-header.fixed a:visited { color: #356185 !important; }
.book-header.fixed a:hover { color: #356185 !important; }
.book-header.fixed a:active { color: #356185 !important; }

.page-wrapper a:link { color: #356185 !important; }
.page-wrapper a:visited { color: #356185 !important; }
.page-wrapper a:hover { color: #356185 !important; }
.page-wrapper a:active { color: #356185 !important; }

.dropdown-menu .buttons .button {
    color: #356185;
}

/* ADDDED BY MARTIN S. */

.folded > pre, .unfolded > pre {
  min-height: 30px;
  position: relative;
  padding-top: 30px;
}

.showopt {
  position: absolute;
  left: 100%;
  top: 7.5px;
  transform: translateX(-105%);
  background-color: #004c93;
  color: #FFFFFF;
  width: 100px;
  height: 20px;
  text-align: center;
  vertical-align: middle !important;
  font-family: sans-serif;
  border-radius: 8px;
}

.showopt:hover {
    background-color: #dfe4f2;
    color: #004c93;
}

.plot {
  background-color: white !important;
}

.image {
  display: block;
  margin: auto;
}

.imgContainer::after {
  content: attr(cap);
  display: block;
  text-align: center;
}

/* ADDED BY ALEX */

/* Class for key concepts */

.keyconcept {
 background-color: #356185;
 border-radius: 15px 50px;
 border-color: #356185;
 color: white;
 margin: 20px 0 20px 0;
 padding-left: 25px;
 padding-right: 25px;
 padding-top: 0px;
 padding-bottom: 15px;
}

.keyconcept h3.right {
  float: right;
  color: white;
  width: 25%;
  text-align: center;
}

.keyconcept h3.left {
  float: left;
  color: white;
  width: 65%;
}

.keyconcept strong {
  color:white !important;
}

.keyconcept a:link { color: white !important; }
.keyconcept a:visited { color: white !important; }
.keyconcept a:hover { color: white !important; }
.keyconcept a:active { color: white !important; }

.keyconcept p {
  clear: both;
}

/* Added by Martin A. */

/* class for DataCamp exercise div */

.DCexercise {
 border-radius: 15px 15px 15px 15px;
 background-color: #356185;
 border-color: #356185;
 color: white;
 margin: 20px 0 20px 0;
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 5px;
 padding-bottom: 15px;
}

.DCexercise strong {
  color:white !important;
}

.DCexercise h4 {
  color:white !important;
}

.DCexercise a:link { color: white !important; }
.DCexercise a:visited { color: white !important; }
.DCexercise a:hover { color: white !important; }
.DCexercise a:active { color: white !important; }

/* Elements for D3.js Regression visualizations  */

.h,.v{
  stroke:black;
  stroke-dasharray:4 4;
  stroke-width:1;
  stroke-opacity:.5;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#resid_button {
	position: relative;
	top: -300px;
	left: 720px;
}

#reset_button {
	position: relative;
	top: -345px;
	left: 603px;
	width: 112px;
}

/* ndistwlln */
.share {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

/* open review block */

.h-icon-chevron-left {
    background: white;
        padding: 3px;
        border: #eee 1px solid;
        color: #666;
      }

.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.rmdreview {
  padding: 1em 1em 1em 5em;
  margin-bottom: 0px;
  background: #f5f5f5 5px center/3em no-repeat;
  position:relative;
}

.rmdreview:before {
    content: "\f0e6";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:10px;
    bottom: 0;
    font-size: 60px;
 }

/* TOC */

.book .book-summary {
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #FFFFFF;
    background: #315479;
    border-right: 1px solid rgba(0,0,0,.15);
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    margin: 5px 5px 5px 5px;
    display: block;
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.book .book-summary ul.summary li.active>a {
    padding-left: 5px;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-weight: bold;
    background: rgba(243,242,242,.35);
    text-decoration: none;
}

.book .book-summary ul.summary li a:hover {
    padding-left: 5px;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgba(243,242,242,.40);
    text-decoration: none;
}

/* Tables */

td, tr, th {
    color:white !important;
    background-color: transparent !important;
}

table {
    border-radius: 10px 10px 10px 10px;
    color:white !important;
    background-color: #356185 !important;
}

caption {
    color:black;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
    padding: 6px 13px;
    border: 1px solid transparent;
}

/* source code copy button 
.copy {
  width: inherit;
  background-color: #e2e2e2 ;
  border: none;
  border-radius: 2px;
  float: right;
  font-size: 60%;
  padding: 4px 4px 4px 4px;
  margin-left:5px;
}

.download {
  width: inherit;
  background-color: #e2e2e2 ;
  border: none;
  border-radius: 2px;
  float: right;
  font-size: 60%;
  padding: 4px 4px 4px 4px;
} */

.book .book-header.fixed {
  font-family: 'Pacifico', sans-serif;
  background-color:#F2F2F2;
}

.title {
  font-family: 'Pacifico', sans-serif;  
}

.book .book-summary {
  font-family:'PT Sans', sans-serif;
}

.book.font-family-0 {
    font-family: 'Source Sans Pro', arial, sans-serif;
}

/*
.book .book-body .page-wrapper .page-inner {
  max-width: 980px !important;
}
*/




