.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning, .rmdknit {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #7fa4c9 5px center/3em no-repeat;
  border-radius: 25px;
}
.rmdcaution {
  background-image: url("images/caution.png");
}
.rmdimportant {
  background-image: url("images/important.png");
}
.rmdnote {
  background-image: url("images/note.png");
}
.rmdtip {
  background-image: url("images/tip.png");
}
.rmdwarning {
  background-image: url("images/warning.png");
}

.rmdknit {
  color:white;
  background-image: url("images/knit-logo.png");
  background-size: 80px 60px;
}

h1, h2, h3, h4, h5, h6 {
  color: #4B7AA1;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* ADDDED BY MARTIN S. */

.folded > pre, .unfolded > pre {
  min-height: 30px;
  position: relative;
  padding-top: 30px;
}

.showopt {
  position: absolute;
  left: 100%;
  top: 7.5px;
  transform: translateX(-105%);
  background-color: #004c93;
  color: #FFFFFF;
  width: 100px;
  height: 20px;
  text-align: center;
  vertical-align: middle !important;
  font-family: sans-serif;
  border-radius: 8px;
}

.showopt:hover {
    background-color: #dfe4f2;
    color: #004c93;
}

.plot {
  background-color: white !important;
}

.image {
  display: block;
  margin: auto;
}

.imgContainer::after {
  content: attr(cap);
  display: block;
  text-align: center;
}

/* ADDED BY ALEX */

/* Class for key concepts */

.keyconcept {
 background-color: 	#dfe4f2;
 border: 2px solid black;
 border-radius: 15px 50px;
 border-color: #356185;
 color: black;
 margin: 20px 0 20px 0;
 padding-left: 25px;
 padding-right: 25px;
 padding-top: 0px;
 padding-bottom: 15px;
}

.keyconcept h3.right {
  float: right;
  width: 25%;
  text-align: center;
}

.keyconcept h3.left {
  float: left;
  width: 65%;

}

.keyconcept p {
  clear: both;
}

.shiny-frame {
  background-color: #dfe4f2;
}


/* Added by Martin A. */

/* customize dc exercise css */

div.datacamp-exercise {
    margin: 0;
    border: 1px solid gray;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    position: relative;
    min-height: 300px;
    color: black;
    box-shadow: none;
}

div.ace_gutter {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.datacamp-exercise .dcl-exercise-area .dcl-left-pane {
  background:#F3F2F3;
  border-radius: 15px 15px 15px 15px;
}

.datacamp-exercise .dcl-exercise-area {
  background-color: #F3F2F3;
  border-radius: 15px;
}

div.ace_scroller {
  background:#F3F2F3;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.ace-crimson-editor .ace_gutter-layer {
  background:#F3F2F3;
}

.datacamp-exercise .dcl-action-panel {
    background-color: #F0EFF0;
    border-top: none;
    border-radius: 15px;
}

/* class for DataCamp exercise div */

.DCexercise {
 background-color: #F0EFF0;
 border: 2px solid black;
 border-radius: 15px 15px 15px 15px;
 border-color: #356185;
 color: black;
 margin: 20px 0 20px 0;
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 0px;
 padding-bottom: 15px;
}

/* Elements for D3.js Regression visualizations  */

.h,.v{
  stroke:black;
  stroke-dasharray:4 4;
  stroke-width:1;
  stroke-opacity:.5;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#resid_button {
	position: relative;
	top: -300px;
	left: 720px;
}

#reset_button {
	position: relative;
	top: -345px;
	left: 603px;
	width: 112px;
}

/* ndistwlln */
.share {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

/* border js applications

#viz {
 background-color: 	#dfe4f2;
 border-radius: 25px;
 color: black;
 margin: 20px 0 20px 0;
 padding: 20px;
}

*/

/* open review block */

.h-icon-chevron-left {
    background: white;
        padding: 3px;
        border: #eee 1px solid;
        color: #666;
      }

.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.rmdreview {
  padding: 1em 1em 1em 5em;
  margin-bottom: 0px;
  background: #f5f5f5 5px center/3em no-repeat;
  position:relative;
}

.rmdreview:before {
    content: "\f0e6";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:10px;
    bottom: 0;
    font-size: 60px;
 }

.book .book-summary {
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #FFFFFF;
    background: #4B7AA1;
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #FFFFFF;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
    background-color: transparent;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
    padding: 6px 13px;
    border: 1px solid transparent;
}

.book .book-body .page-wrapper .page-inner section.normal table tr {
     background-color:none;
}

/* source code copy button */ 
.copy {
  width: inherit;
  background-color: #e2e2e2 ;
  border: none;
  border-radius: 2px;
  float: right;
  padding: 4px 4px 4px 4px;
}